<!-- /templates/my-form.html-->

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale">
       
        <title>Project Group 10</title>
    </head>
    <body>
	    <h2>Doe Point Ranking System</h2>

	    
        <form method="POST">
            <div>
                <label>Filter Ranking based on attributes:</label>
                <br>
				<span title="5 points if above 6 lbs, 3 points otherwise">
                <input type="checkbox" id="birth_weight" name="birth_weight" value="birth_weight">
                <label for="birth_weight">Birth Weight</label>
				</span>
                <br>
				<span title="5 points if 'Good Mom', 1 point otherwise">
                <input type="checkbox" id="mothering" name="mothering" value="mothering">
                <label for="mothering">Mothering</label>
				</span>
                <br>
				<span title="5 points if 'Good Milk', 1 point otherwise">
                <input type="checkbox" id="milk_rating" name="milk_rating" value="milk_rating">
                <label for="milk_rating">Milk Rating</label>
				</span>
                <br>
				<span title="4 points if Twins, 3 points if Triplets, 2 points otherwise">
                <input type="checkbox" id="num_of_kids" name="num_of_kids" value="num_of_kids">
                <label for="num_of_kids">Number of Kids</label>
				</span>
                <br>
                <span title="5 points if 'No Problems', 1 point otherwise">
                <input type="checkbox" id="observations" name="observations" value="observations">
                <label for="observations">Observations</label>
                </span>
                <br>
                <span title="5 points if 'No Assist', 1 point otherwise">
                <input type="checkbox" id="kid_ease" name="kid_ease" value="kid_ease">
                <label for="kid_ease">Kid Ease</label>
                </span>
                <br>
                <span title="5 points if 'Doe stays close', 1 point otherwise">
                <input type="checkbox" id="mother_score" name="mother_score" value="mother_score">
                <label for="mother_score">Mother Score</label>
                </span>
                <br>
            </div>
                <input type="submit" value="submit">
        </form>

		{% if rows %}
        <table>
            <!-- column header for loop in jinja template -->
            <thead>
                <tr>
					<th>Animal ID</th>
					<th>Total Points</th>
					<th>Average PpS</th>
                </tr>
            </thead>
            <!-- nested for loops in jinja template -->
            <tbody>
            {%for row in rows%}
                <tr>
                {%for col in row%}
                    <td>{{col}}</td>
                {%endfor%}
                </tr>
            {%endfor%}
            </tbody>
        </table>
		{% endif %}
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
