<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Project Group 10</title>
    </head>
    <body>
	    <h2>Doe Point Ranking System</h2>

	    <h4>Example 1 - result table with column headings</h4>
        <form method="POST">
            <div>
                Find all the events at this venue_id
                <input type="text" name="venue_id">
            </div>
                <input type="submit" value="Submit">
        </form>

		{% if rows %}
        <table>
            <!-- column header for loop in jinja template -->
            <thead>
                <tr>
					<th>Animal ID</th>
					<th>Total Points</th>
					<th>Average Points per Session</th>
                </tr>
            </thead>
            <!-- nested for loops in jinja template -->
            <tbody>
            {%for row in rows%}
                <tr>
                {%for col in row%}
                    <td>{{col}}</td>
                {%endfor%}
                </tr>
            {%endfor%}
            </tbody>
        </table>
		{% endif %}
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
